/* ========================================= */
/* MELHORIAS PARA MOBILE            */
/* (Telas com largura máxima de 768px)       */
/* ========================================= */
@media (max-width: 768px) {

    .hero-section {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/fundo_teste_mobile.png') no-repeat center center;
        background-size: cover;
        height: 100vh;
    }

    /* --- Ajustes na Seção Hero --- */
    .hero-section {
        height: 87vh;
        /* Reduz a altura para economizar espaço */
    }

    .hero-section h1 {
        font-size: 2.5rem;
        /* Diminui o título principal */
    }

    .hero-section .lead {
        font-size: 1rem;
        /* Diminui o subtítulo */
    }


    /* --- Ajustes Gerais de Títulos e Seções --- */
    h2 {
        font-size: 2rem;
        /* Diminui os títulos das seções */
    }

    section {
        padding-top: 4rem;
        /* Reduz o espaçamento vertical das seções */
        padding-bottom: 4rem;
    }


    /* --- Ajustes nos Cards de Pacotes --- */
    .package-card.popular {
        transform: scale(1);
        /* Remove o efeito de escala no card popular */
        /* A tag de "Popular" já é suficiente para o destaque no mobile */
    }

    /* Adiciona um espaçamento maior entre os cards quando empilhados */
    .col-lg-4.mb-4 {
        margin-bottom: 2rem !important;
    }


    /* --- Botão Flutuante do WhatsApp --- */
    .whatsapp-float {
        width: 50px;
        /* Diminui o tamanho do botão */
        height: 50px;
        bottom: 20px;
        /* Aproxima mais do canto */
        right: 20px;
        font-size: 24px;
        /* Diminui o ícone */
    }

    .whatsapp-float i {
        margin-top: 12px;
        /* Centraliza o ícone verticalmente */
    }

    #logo {
        height: 45px;
    }
}

.btn-warning#btn-pacotes {
    background: #ce1d1d;
    border-color: #f8f9fa;
    /* Borda branca sutil */
    color: #f8f9fa;
    padding: 5px 10px
}